<div class=" container container-full black">
    <div class="row">
        <div class="col-md-12 col-centered">
            <img src="<%= asset_path('contact-page.png')%>" />
        </div>
    </div>
</div>
<div class="container">
    <div class="row contact">
        <div class="col-md-7 col-centered">
            <h2>Contact us <i class="fa fa-paper-plane"></i></h2>
            <p>
                Let us know your feedback!
            </p>
            <%= form_for :contact, url: contact_path do |f| %>
                <%= f.label :name %>
                <%= f.text_field :name, class: "form-control" %>
                <%= f.label :email %>
                <%= f.email_field :email, class: "form-control"%>
                <%= f.label :body, "Message" %>
                <%= f.text_area :body, class: "form-control"%>
                <!-- <%= f.submit "Submit" , class:"btn-primary pull-right "%> -->
                <%= button_tag( :class => "btn pull-right") do %>
                    submit <i class="fa fa-paper-plane""></i>
                <% end %>
            <%end%>
        </div>
    </div>
</div>
