<div class=" container container-full black">
    <div class="row">
        <div class="col-md-12 col-centered">
            <h4>
                Find your inner <b class="peace">peace</b> with manmosu
            </h4>
            <img src="<%= asset_path('home-page1.png')%>" />
        </div>
    </div>
</div>
<div class=" block container container-full white">
    <div class="row">
        <div class="col-md-12 col-centered">
            <ul >
                <li>
                    <i class="fa fa-heart fa-5x"></i>
                    <div>
                        Our goal is to create a healthier and happier
                    </div>
                </li>
                <li>
                    <i class="fa fa-leaf fa-5x"></i>
                    <div>
                        We want to restore calm and serenity to your busy and chaotic life
                    </div>
                </li>
                <li>
                    <i class="fa fa-battery-full fa-5x"></i>
                    <div>
                        Our products are well designed and high quality
                    </div>
                </li>
                <li>
                    <i class="fa fa-smile-o fa-5x"></i>
                    <div>
                        Meditation improves concentration and increases self-awareness
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
