<div class=" container container-full black">
    <div class="row">
        <div class="col-md-12 col-centered">
            <img src="<%= asset_path('login-page.png')%>" />
        </div>
    </div>
</div>
<div class="container">
    <div class="row contact">
        <div class="col-md-5 col-centered">
            <h3>Sign in</h3>
            <%= form_for :session, url: login_path do |f| %>
                <%= f.label :email, 'Username'%>
                <%= f.email_field  :email, class: 'form-control' %>
                <%= f.label :password %>
                <%= f.password_field :password, class: 'form-control' %>
                <!-- <%= f.submit "Enter", class: "btn btn-primary pull-right" %> -->
                <%= button_tag( :class => "btn pull-right") do %>
                    submit <i class="fa fa-paper-plane""></i>
                <% end %>
            <%end %>
        </div>
    </div>
</div>
