<div class=" container container-full black">
    <div class="row">
        <div class="col-md-12 col-centered">
            <img src="<%= asset_path('login-page.png')%>" />
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-9 col-centered">
            <h2>Create Product</h2>
            <%= form_for :product, url:products_path do |f| %>
                <!-- <% if @product.errors.any? %>
                    <% @product.errors.full_messages.each do |error| %>
                        <%= error %>
                    <%end%>
                <%end%> -->
                <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
                <%= f.label :name %>
                <%= f.text_field :name, class: 'form-control' %>
                <%= f.label :sku %>
                <%= f.text_field :sku, class: 'form-control' %>
                <%= f.label :description %> <a href="https://www.promptworks.com/textile">Textile language cheatsheet</a>
                <%= f.text_area :description,rows: 20,  class: 'form-control'%>
                <%= f.submit "Submit", class: 'btn-primary pull-right'%>
            <%end%>
        </div>
    </div>
    <script type="text/javascript">
        $('#product_picture').bind('change', function() {
                                                                                            var size_in_megabytes = this.files[0].size/1024/1024;
                                                                                            if (size_in_megabytes > 5) {
                                                                                              alert('Maximum file size is 5MB. Please choose a smaller file.');
                                                                                            }
                                                                                          });
    </script>
</div>
