<div class="black container-full footer">
    <div class="row">
        <div class="col-md-6">
            <div class="mission">
                <i class="fa fa-quote-left fa-3x fa-pull-left fa-border fa-inverse" aria-hidden="true"></i>
                To help others to find their goals through meditation
            </div>
        </div>
        <div class="col-md-6" style="margin-top:100px; color:#ccc; font-size:1.3em;">
            ©2010 to 2017 manmosu inc
        </div>
    </div>
</div>
