<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="<%= root_path %>">
              <img src="<%= asset_path('brand.svg')%>"  alt="manmosu"/>
        </a>
    </div>
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="<%= 'active' if current_page?('/products')%>"><a href="<%= products_path %>">Products</a></li>
                <li class="<%= 'active' if current_page?('/contact')%>"><a href="<%= contact_path %>">Contact us</a></li>
            </ul>
            <% if logged_in? %>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.name %> <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="<%= user_path(current_user) %>">Profile</a></li>
                            <li><%= link_to  "Log out", logout_path, method: :delete %></li>
                        </ul>
                    </li>
                </ul>
            <% end %>
        </div>
    </div>
</nav>
