@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

//media query

/* Large desktops and laptops */
@media (min-width: 1200px) {
  .footer{

    .mission{
      width:400px;
      height:200px;
      margin: 0 auto;
      font-size: 2.2em;
      padding:30px 5px 5px 5px;
      color:#fff;
    }
  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .footer{
    .mission{
      margin: 0 auto;
      font-size: 2.2em;
      padding:30px 5px 5px 5px;
      color:#fff;
    }
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .footer{
    .mission{
      margin: 0 auto;
      font-size: 2.2em;
      padding:30px 5px 5px 5px;
      color:#fff;
    }
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .footer{
    .mission{
      margin: 0 auto;
      font-size: 2.2em;
      padding:30px 5px 5px 5px;
      color:#fff;
    }
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}

@media screen and (min-width: 989px){

}

body{
  overflow-y: scroll;
}

.btn-success {
  background:#fff;
  color: #000;
}

.col-centered{
    margin: 0 auto;
    float:none;
}

.alert .value {
  margin: 0 auto;
  text-align: center;
  display: inherit;
}

.alert{
  margin-top: -20px;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

//nav bar
.navbar {
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.navbar{
  background:transparent;
  border:none;
  min-height: 70px;

  .navbar-brand img{
    height:55px;
  }


  .navbar-nav > li > a{
      color:#fff;
      font-size:1.7em;
      font-weight: 300px;
      padding: 30px 25px 33px 25px;
  }

  .navbar-nav > li > a:hover{
      color:#a6a6a6;
  }
}

.navbar.scrolled {
    background: rgb(68, 68, 68); //IE
    background: rgba(0, 0, 0, 0.78); //NON-IE
    color:#fff;
}

//footer
.black{
  background: #000;

  img{
    width: 100%;
  }
}

.white{
  background:#fff;
}

.btn{
  margin-top:10px;
}
