// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel-default {
  min-height: 300px;
}

.panel, .thumbnail{
  border: none;

}

.product {
  margin-top: 10px;
  border-bottom:4px solid #000;
  .panel-default{
    // border:none;
    // border-left:4px solid #000;

  .panel-heading{
    color:#fff;
    background: #000;
    // background-color: transparent;
    border:none;
    margin-bottom: 0;

  }
  .list-group-item{
    border:none;
    color:#ccc;
    background: #000;
  }
  .close {
    color:#fff;
    opacity:1;
  }
  }
}
