// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//Home

/* Large desktops and laptops */
@media (min-width: 1200px) {
  .block{
    li{
      div{
        display: inline-block;
        vertical-align: top;
        font-size: 2em;
        padding: 0 0 0 50px;
        line-height: 70px;
      }

    }

  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .block{
    li{
      div{
        // display: inline-block;
        // vertical-align: top;
        font-size: 2em;
        // padding: 0 0 0 50px;
        line-height: 30px;
      }
    }

  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .block{
    li{
      div{
        // display: inline-block;
        // vertical-align: top;
        font-size: 2em;
        // padding: 0 0 0 50px;
        line-height: 30px;
      }
    }

  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}

@media screen and (min-width: 989px){

}

.block{
  width: 100%;
  min-height:350px;
  border-bottom: 2px solid #000;
  position: relative;
  background: #ccc;
  .arrow{
    top: 295px;
    margin: 0 auto;
    display: block;
    width: 10px;
    z-index: 1000;
  }
  ul{

    li{
      list-style: none;
      margin:15px;
      i{
        width:80px;
      }

    }
  }

}

.black{
  background: #000;

  img{
    width: 100%;
  }
}

.white{
  background:#fff;
}

.block.footer{
  height:400px;
  .row{
    max-height: 400px;
    img{
      height: 50%;
      display:inherit;
    }
  }
}

h4{
  font-size: 1.9em;
  font-weight: 500px;
  position:absolute;
  top:80%;
  left:10%;
  color:#a6a6a6;
}

h4 .peace{
  color:#fff;
}

.contact{
  margin: 100px 0 ;
}
