<div class="row product">
    <div class="col-md-3">
        <span class="thumbnail">
            <%= image_tag product.picture.url if product.picture? %>
        </span>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <h1 class="panel-heading"><%= product.name %>
                <% if logged_in? %>
                    <%= link_to product_path(product), method: :delete, class:"close", data: { confirm: "Are you sure?" }  do %>
                        <span aria-hidden="true">&times;</span>
                    <%end%>
                <%end%>
            </h1>
            <ul class="list-group">
                <li class="list-group-item">SKU: <%= product.sku %></li>
            </ul>
            <div class="panel-body">
                <%= product.description_html.html_safe %>
            </div>
        </div>
    </div>
</div>
