<div class=" container container-full black">
    <div class="row">
        <div class="col-md-12 col-centered">
            <img src="<%= asset_path('product-page.png')%>" />
        </div>
    </div>
</div>
<div class="container-full">
    <% if @products.any? %>
        <% @products.each do |product| %>
            <%= render 'products/product', product: product %>
        <%end%>
        <%= will_paginate @products %>
    <%end%>
</div>
