<!DOCTYPE html>
<html>
    <head>
        <title>Manmosu</title>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
    <body>
        <%= render 'shared/header' %>
        <%= render 'shared/flash' %>
        <%= yield %>
        <%= render 'shared/footer' %>
    </body>
</html>
